# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [42]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [3]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Zhezkazgan,KZ,47.8043,67.7144,26.58,74,0,8.95,clear sky
1,New Norfolk,AU,-42.7826,147.0587,65.91,46,100,5.99,light rain
2,Parabel,RU,58.6978,81.4825,4.42,89,100,10.78,overcast clouds
3,Biggar,GB,55.6167,-3.5167,43.90,92,66,1.30,broken clouds
4,Narsaq,GL,60.9167,-46.0500,19.62,85,100,3.02,overcast clouds
5,Burgos,ES,42.3394,-3.7079,34.21,93,100,3.44,overcast clouds
6,Namatanai,PG,-3.6667,152.4333,82.63,73,99,8.10,overcast clouds
7,Rozsypne,UA,48.1497,38.5762,40.05,97,100,17.72,overcast clouds
8,Alta Floresta,BR,-9.8756,-56.0861,69.17,97,100,1.83,overcast clouds
9,Ojinaga,MX,29.5667,-104.4167,45.55,65,0,13.80,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [7]:
# Prompt the user to enter the minimum temperature criteria
min_temp = int(input("What is the minimum temperature criteria? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = int(input("What is the maximum temperature criteria? "))

What is the minimum temperature criteria? 33
What is the maximum temperature criteria? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [16]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
                                    
# Display sample data
preferred_cities_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,New Norfolk,AU,-42.7826,147.0587,65.91,46,100,5.99,light rain
3,Biggar,GB,55.6167,-3.5167,43.90,92,66,1.30,broken clouds
5,Burgos,ES,42.3394,-3.7079,34.21,93,100,3.44,overcast clouds
6,Namatanai,PG,-3.6667,152.4333,82.63,73,99,8.10,overcast clouds
7,Rozsypne,UA,48.1497,38.5762,40.05,97,100,17.72,overcast clouds

In [19]:
len(preferred_cities_df)

538

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [17]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = pd.DataFrame(preferred_cities_df.dropna())
    
    

# Display sample data
clean_travel_cities.head(20)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,New Norfolk,AU,-42.7826,147.0587,65.91,46,100,5.99,light rain
3,Biggar,GB,55.6167,-3.5167,43.90,92,66,1.30,broken clouds
5,Burgos,ES,42.3394,-3.7079,34.21,93,100,3.44,overcast clouds
6,Namatanai,PG,-3.6667,152.4333,82.63,73,99,8.10,overcast clouds
7,Rozsypne,UA,48.1497,38.5762,40.05,97,100,17.72,overcast clouds
8,Alta Floresta,BR,-9.8756,-56.0861,69.17,97,100,1.83,overcast clouds
9,Ojinaga,MX,29.5667,-104.4167,45.55,65,0,13.80,clear sky
11,Ushuaia,AR,-54.8000,-68.3000,56.86,38,75,14.97,light intensity drizzle
13,Busselton,AU,-33.6500,115.3333,63.70,56,92,15.43,overcast clouds
14,Jaque,PA,7.5175,-78.1703,76.10,91,100,3.80,overcast clouds
15,Vila Velha,BR,-20.3297,-40.2925,68.95,80,0,6.91,clear sky
16,Hays,US,30.0502,-98.0336,46.96,87,100,3.00,overcast clouds
17,Mahebourg,MU,-20.4081,57.7000,80.89,57,40,11.50,scattered clouds
18,Maraba,BR,-5.3686,-49.1178,75.38,100,0,0.00,clear sky
19,Vao,NC,-22.6667,167.4833,72.45,70,40,10.16,scattered clouds
20,Chaohu,CN,31.6000,117.8667,63.36,70,74,7.78,broken clouds
21,Olinda,BR,-8.0089,-34.8553,78.53,69,40,3.44,scattered clouds
22,Kruisfontein,ZA,-34.0033,24.7314,65.88,50,9,21.68,clear sky
24,Yanam,IN,16.7333,82.2167,84.22,39,37,8.55,scattered clouds
25,Sao Desiderio,BR,-12.3633,-44.9733,68.83,94,100,2.08,overcast clouds

In [18]:
len(clean_travel_cities)

532

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [48]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
columns = ["City", "Country", "Max Temp", "Humidity", "Current Description","Lat", "Lng"]
hotel_df = clean_travel_cities[columns].copy()

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Humidity,Current Description,Lat,Lng
1,New Norfolk,AU,65.91,46,light rain,-42.7826,147.0587
3,Biggar,GB,43.90,92,broken clouds,55.6167,-3.5167
5,Burgos,ES,34.21,93,overcast clouds,42.3394,-3.7079
6,Namatanai,PG,82.63,73,overcast clouds,-3.6667,152.4333
7,Rozsypne,UA,40.05,97,overcast clouds,48.1497,38.5762
8,Alta Floresta,BR,69.17,97,overcast clouds,-9.8756,-56.0861
9,Ojinaga,MX,45.55,65,clear sky,29.5667,-104.4167
11,Ushuaia,AR,56.86,38,light intensity drizzle,-54.8000,-68.3000
13,Busselton,AU,63.70,56,overcast clouds,-33.6500,115.3333
14,Jaque,PA,76.10,91,overcast clouds,7.5175,-78.1703

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [49]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Humidity,Current Description,Lat,Lng,Hotel Name
1,New Norfolk,AU,65.91,46,light rain,-42.7826,147.0587,
3,Biggar,GB,43.90,92,broken clouds,55.6167,-3.5167,
5,Burgos,ES,34.21,93,overcast clouds,42.3394,-3.7079,
6,Namatanai,PG,82.63,73,overcast clouds,-3.6667,152.4333,
7,Rozsypne,UA,40.05,97,overcast clouds,48.1497,38.5762,
8,Alta Floresta,BR,69.17,97,overcast clouds,-9.8756,-56.0861,
9,Ojinaga,MX,45.55,65,clear sky,29.5667,-104.4167,
11,Ushuaia,AR,56.86,38,light intensity drizzle,-54.8000,-68.3000,
13,Busselton,AU,63.70,56,overcast clouds,-33.6500,115.3333,
14,Jaque,PA,76.10,91,overcast clouds,7.5175,-78.1703,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [50]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [51]:
# Iterate through the hotel DataFrame 
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [60]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Humidity,Current Description,Lat,Lng,Hotel Name
1,New Norfolk,AU,65.91,46,light rain,-42.7826,147.0587,The Shingles Riverside Cottages
3,Biggar,GB,43.90,92,broken clouds,55.6167,-3.5167,The Mill Bed and Breakfast
5,Burgos,ES,34.21,93,overcast clouds,42.3394,-3.7079,Hotel Corona de Castilla (Sercotel)
6,Namatanai,PG,82.63,73,overcast clouds,-3.6667,152.4333,Seagulls Inn Namatani
8,Alta Floresta,BR,69.17,97,overcast clouds,-9.8756,-56.0861,Floresta Amazonica Hotel
9,Ojinaga,MX,45.55,65,clear sky,29.5667,-104.4167,Suites Las Palmas
11,Ushuaia,AR,56.86,38,light intensity drizzle,-54.8000,-68.3000,Albatross Hotel
13,Busselton,AU,63.70,56,overcast clouds,-33.6500,115.3333,Observatory Guest House
14,Jaque,PA,76.10,91,overcast clouds,7.5175,-78.1703,Aventuras Jaque S.A
15,Vila Velha,BR,68.95,80,clear sky,-20.3297,-40.2925,Hotel Vitória Palace

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [67]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df

# Display sample data
clean_hotel_df.head(20)

,City,Country,Max Temp,Humidity,Current Description,Lat,Lng,Hotel Name
1,New Norfolk,AU,65.91,46,light rain,-42.7826,147.0587,The Shingles Riverside Cottages
3,Biggar,GB,43.90,92,broken clouds,55.6167,-3.5167,The Mill Bed and Breakfast
5,Burgos,ES,34.21,93,overcast clouds,42.3394,-3.7079,Hotel Corona de Castilla (Sercotel)
6,Namatanai,PG,82.63,73,overcast clouds,-3.6667,152.4333,Seagulls Inn Namatani
8,Alta Floresta,BR,69.17,97,overcast clouds,-9.8756,-56.0861,Floresta Amazonica Hotel
9,Ojinaga,MX,45.55,65,clear sky,29.5667,-104.4167,Suites Las Palmas
11,Ushuaia,AR,56.86,38,light intensity drizzle,-54.8000,-68.3000,Albatross Hotel
13,Busselton,AU,63.70,56,overcast clouds,-33.6500,115.3333,Observatory Guest House
14,Jaque,PA,76.10,91,overcast clouds,7.5175,-78.1703,Aventuras Jaque S.A
15,Vila Velha,BR,68.95,80,clear sky,-20.3297,-40.2925,Hotel Vitória Palace
16,Hays,US,46.96,87,overcast clouds,30.0502,-98.0336,CHAPEL HOME
17,Mahebourg,MU,80.89,57,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
18,Maraba,BR,75.38,100,clear sky,-5.3686,-49.1178,Hotel Del Principe
19,Vao,NC,72.45,70,scattered clouds,-22.6667,167.4833,Hotel Kou-Bugny
20,Chaohu,CN,63.36,70,broken clouds,31.6000,117.8667,Shell Hefei Chaohu Railway Station Wanda Plaza...
21,Olinda,BR,78.53,69,scattered clouds,-8.0089,-34.8553,Flat Quatro Rodas Olinda
22,Kruisfontein,ZA,65.88,50,clear sky,-34.0033,24.7314,Oyster Bay House Rental
24,Yanam,IN,84.22,39,scattered clouds,16.7333,82.2167,The Regency Hotel
25,Sao Desiderio,BR,68.83,94,overcast clouds,-12.3633,-44.9733,POUSADA BOM SOSSEGO
26,Mataura,NZ,58.48,84,broken clouds,-46.1927,168.8643,Ellie's Villa

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [69]:
# Set the file name.
output_data_file = "WeatherPy_Vacation.csv"

# Export the city_data DataFrame into a CSV file
clean_hotel_df.to_csv(output_data_file, index=False)
# Create a CSV file by using the clean_hotel_df DataFrame
# YOUR CODE HERE

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [70]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [71]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>The Shingles Riverside Cottages</dd>\n<dt>City</dt><dd>New Norfolk</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>light rain and 65.91 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Mill Bed and Breakfast</dd>\n<dt>City</dt><dd>Biggar</dd>\n<dt>Country</dt><dd>GB</dd>\n<dt>Current Weather</dt><dd>broken clouds and 43.9 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Corona de Castilla (Sercotel)</dd>\n<dt>City</dt><dd>Burgos</dd>\n<dt>Country</dt><dd>ES</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 34.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Seagulls Inn Namatani</dd>\n<dt>City</dt><dd>Namatanai</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.63 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Floresta Amazonica Hotel</dd>\n<dt>City</dt><dd>Alta Floresta</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 69.17 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Suites Las Palmas</dd>\n<dt>City</dt><dd>Ojinaga</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>clear sky and 45.55 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Albatross Hotel</dd>\n<dt>City</dt><dd>Ushuaia</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>light intensity drizzle and 56.86 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Observatory Guest House</dd>\n<dt>City</dt><dd>Busselton</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 63.7 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Aventuras Jaque S.A</dd>\n<dt>City</dt><dd>Jaque</dd>\n<dt>Country</dt><dd>PA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.1 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Vitória Palace</dd>\n<dt>City</dt><dd>Vila Velha</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>clear sky and 68.95 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [72]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1  -42.7826  147.0587
3   55.6167   -3.5167
5   42.3394   -3.7079
6   -3.6667  152.4333
8   -9.8756  -56.0861
9   29.5667 -104.4167
11 -54.8000  -68.3000
13 -33.6500  115.3333
14   7.5175  -78.1703
15 -20.3297  -40.2925

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [78]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))